@model Blog.Web.Models.Domain.BlogPost
<div class="container">
    <div class="container mt-4">
        <h1>@Model.Heading</h1>
        <p class="text-muted">By @Model.Author on @Model.PublishedDate.ToString("MMMM dd, yyyy")</p>
        @* <img src="@Model.FeaturedImageUrl" class="img-fluid my-4" alt="@Model.Heading" /> *@
        <p>@Model.Content</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Back to Blog Posts</a>
    </div>
</div>

